<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
    <link rel="shortcut icon" href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/index_style.css">
    <link rel="stylesheet" href="/style/global.css">

</head>
<body>
  <header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <div class="text-right">
        {{#if isAuthenticated}}
        {{!-- cookies 有會員資料 --}}
          Hello!  {{ user.name }}
            <a href="/users/logout" >
              <button class="btn btn-success">Logout</button>
            </a>
            <a href="/restaurants/new" >
              <button class="btn btn-success">Create</button>
            </a>
        {{else}}
        {{!-- cookies 沒有會員資料 --}}
          <a href="/users/login" >
            <button class="btn btn-success">Login</button>
          </a>
          <a href="/users/login" >
            <button class="btn btn-secondary">Create</button>
          </a>
        {{/if}}

      </div>
    </div>
  </nav>
  <div class="banner"></div>
  </header>

  {{!-- 局部樣板的資料都放在body --}}
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  {{!-- 懶得載其他版本的popper, 所以直接手動改成, 如果有錯那就是這邊錯了 --}}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>